.container {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(90deg, #f2f4ff 0%, #fbfcff 100%);
}

.burgerMenu {
  display: none;
  justify-content: space-between;
  align-items: center;
  background: #566cd6;
  width: 100vw;
  height: 100px;
}

.imgBurger {
  width: 55px;
  height: 55px;
  margin-left: 20px;
  cursor: pointer;
  background-image: url("../public/Menu.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  position: fixed;
  z-index: 20;
  background-color: #566cd6;
  border-radius: 50%;
  background-position: center;
}

.logoHeader {
  height: 80px;
}

.menu {
  background: #566cd6;
  height: 100vh;
  width: 20%;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu div {
  position: fixed;
  background: #566cd6;
  height: 100vh;
}

.logo {
  width: 200px;
  margin-top: 20px;
}

.avatar {
  margin-top: 40px;
  width: 200px;
}

.avatarName {
  margin-top: 20px;
  font-weight: 600;
}

.level {
  color: rgba(242, 242, 242, 0.6);
  font-size: 20px;
}

.logout {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 9px 0px;
  border-radius: 5px;
  background-color: rgba(242, 242, 242, 0.2);
  position: relative;
  top: 270px;
  left: 15px;
  cursor: pointer;
}

.logout:hover,
.logout:focus,
.logout:active {
  transform: scale(1.05);
}

.logout img {
  position: relative;
  right: 80px;
}

.main {
  display: grid;
  grid-template: 80px 1fr / 80vw;
  justify-content: end;
  justify-items: end;
  align-items: center;
  position: relative;
}

.inputSearch {
  position: relative;
  right: 30px;
  width: 35%;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 255, 0.2);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
}

.inputSearch:focus,
.inputSearch:active,
.inputSearch:hover,
.inputSearch:focus-within {
  box-shadow: none;
  border: 2px solid #566cd6;
}

.inputSearch input {
  width: 90%;
  margin: 0;
  padding: 0;
  height: 28px;
  border: none;
  color: #40415e;
  font-size: 15px;
  outline: none;
}

.inputSearch button {
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background: #566cd6;
  position: relative;
  right: -2px;
}

.containerPokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardPokemon {
  width: 300px;
  height: 350px;
  color: #40415e;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 255, 0.2);
  text-align: center;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cardPokemon:focus,
.cardPokemon:active,
.cardPokemon:hover {
  transform: scale(1.1);
}

.cardPokemon div img {
  height: 160px;
  margin-top: 20px;
}

.containerTypes {
  display: flex;
  justify-content: center;
}

.typeColor {
  color: white;
  border-radius: 15px;
  width: 80px;
  margin-right: 10px;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 50px 0px;
  width: 100%;
  color: white;
}

.pagination div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #566cd6;
  border: none;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.pagination div:hover,
.pagination div:focus,
.pagination div:active {
  transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  .menu {
    position: relative;
    left: -200vw;
    width: 100vw;
  }

  .menuShow {
    position: fixed;
    z-index: 10;
    left: 0vw;
    width: 100vw;
    background: rgba(86, 108, 214, 0.8);
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
  }

  .logo {
    width: 0;
    margin: 0;
  }

  .main {
    grid-template: 100px 80px 1fr / 100vw;
  }

  .burgerMenu {
    display: flex;
  }

  .logoHeader {
    z-index: 10;
  }

  .inputSearch {
    width: 90%;
  }

  .avatar {
    margin-top: 130px;
  }

  .logout {
    position: relative;
    top: 150px;
  }
}

@media screen and (max-width: 376px) {
  .logoHeader {
    height: 60px;
  }

  .inputSearch {
    right: 15px;
  }

  .cardPokemon {
    width: 280px;
    margin: 15px 0px;
  }
}
