.modal {
  position: fixed;
  width: 80vw;
  height: 100%;
}

.modal_main {
  position: fixed;
  width: 80vw;
  height: 100%;
  top: 0;
  right: 0;
  display: block;
  text-align: left;
  background: linear-gradient(90deg, #f2f4ff 0%, #fbfcff 100%);
  color: white;
}

.btn {
  font-size: 22px;
  font-weight: 600;
  background-color: #566cd6;
  background-image: url("../public/Back.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 40px;
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.display_block {
  display: block;
}

.display_none {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  color: #40415e;
  margin-top: 20px;
}

.cardImg {
  width: 300px;
  height: 350px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 255 / 20%);
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardImg img {
  width: 160px;
}

.imgFrontBack {
  display: flex;
}
.dataPoke {
  width: 600px;
  height: 600px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 255 / 20%);
  margin: 15px;
  padding: 50px;
}

.dataPoke h1 {
  font-size: 50px;
}

.dataPoke h2 {
  margin-top: 25px;
}

.dataPoke p {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.typesModal {
  display: flex;
  margin-top: 10px;
}

.typesModal h3 {
  color: white;
  border-radius: 15px;
  width: 80px;
  margin-right: 10px;
  font-weight: 500;
  text-align: center;
}
