.modal {
  position: fixed;
  width: 80vw;
  height: 100vh;
}

.modal_main {
  position: fixed;
  width: 80vw;
  height: 100vh;
  top: 0;
  right: 0;
  display: block;
  text-align: left;
  background: linear-gradient(90deg, #f2f4ff 0%, #fbfcff 100%);
  color: white;
}

.containerBtns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-size: 22px;
  font-weight: 600;
  background-color: #566cd6;
  background-image: url("../public/Back.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 20px;
  width: 60px;
  height: 40px;
  position: relative;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

.inputSearch {
  position: relative;
  right: 30px;
  top: 30px;
  width: 45%;
  height: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 255, 0.2);
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  margin-bottom: 20px;
}

.inputSearch:focus,
.inputSearch:active,
.inputSearch:hover,
.inputSearch:focus-within {
  box-shadow: none;
  border: 2px solid #566cd6;
}

.inputSearch input {
  width: 90%;
  margin: 0;
  padding: 0;
  height: 28px;
  border: none;
  color: #40415e;
  font-size: 15px;
  outline: none;
}

.inputSearch button {
  height: 40px;
  width: 60px;
  border: none;
  border-radius: 30px;
  background: #566cd6;
  position: relative;
  right: -2px;
}

.display_block {
  display: block;
}

.display_none {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  color: #40415e;
  margin-top: 20px;
  background: linear-gradient(90deg, #f2f4ff 0%, #fbfcff 100%);
}

.cardImg {
  width: 300px;
  height: 350px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 255 / 20%);
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardImg img {
  width: 160px;
}

.imgFrontBack {
  display: flex;
}
.dataPoke {
  width: 600px;
  height: 600px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 255 / 20%);
  margin: 15px;
  padding: 50px;
}

.dataPoke h1 {
  font-size: 50px;
}

.dataPoke h2 {
  margin-top: 25px;
}

.dataPoke p {
  border-bottom: 1px solid lightgray;
  padding-bottom: 15px;
}

.typesModal {
  display: flex;
  margin-top: 10px;
}

.typesModal h3 {
  color: white;
  border-radius: 15px;
  width: 80px;
  margin-right: 10px;
  font-weight: 500;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .modal {
    width: 100vw;
    z-index: 20;
  }

  .modal_main {
    width: 100vw;
    z-index: 20;
  }

  .dataPoke {
    width: 550px;
    height: 570px;
    margin: 10px;
    padding: 20px 40px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    position: absolute;
    z-index: 50;
  }

  .modal_main {
    z-index: 50;
    position: absolute;
  }

  .container {
    flex-wrap: wrap;
    z-index: 50;
  }
}

@media screen and (max-width: 426px) {
  .modal_main {
    padding-top: 50px;
  }

  .inputSearch {
    width: 70%;
  }

  .cardImg {
    width: 320px;
  }
  .dataPoke {
    width: 320px;
  }

  .dataPoke h1 {
    font-size: 40px;
  }

  .dataPoke h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 376px) {
  .inputSearch {
    width: 60%;
  }

  .cardImg {
    width: 300px;
  }
  .dataPoke {
    width: 300px;
  }
}
